@{
    Layout = "~/_Layout.cshtml";
    Page.Id = 10;
}

@{
    int cont = 0;
    var db = Database.Open("Curriculum");
    var selectQueryString = "SELECT r.IdRcm as id, p.Nombre AS name, p.Email AS email, p.Telefono as phone, r.Comentario as comment FROM Recomendaciones AS r INNER JOIN Personas AS p ON r.IdPersona = p.IdPersona WHERE r.Status = 'False'";
    if (Session["actual"] != "José Obando")
    {
        Response.Redirect("/Views/Login.cshtml");
    }
}


<body>
    <hr class="active">
    <div>
        <br/>
        <h2>Recomendaciones inactivas</h2>
        <br/>
    </div>
    <hr class="active">
    <div class="container">
        <table class="table">
            <thead>
                <tr class="warning">
                    <th>
                        Nombre      
                    </th>
                    <th>
                        Correo Electronico
                    </th>
                    <th>
                        Recomendacion
                    </th>
                    <th>
                        Habilitar
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var row in db.Query(selectQueryString))
                {
                    if(cont == 0){
                        cont = 1;
                        <tr>
                            <td>
                                @row.name
                            </td>
                            <td>
                                @row.email
                            </td>
                            <td>
                                @row.comment
                            </td>
                            <td>
                                <form action="/Logic/admin.cshtml/" method="post">
                                    <input name="rcm_id" type="hidden" value="@row.id"/>
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value=" Habilitar "/>
					            </form>
                            </td>  
                        </tr>
                    }else{
                        cont = 0;
                        <tr class="success">
                            <td>
                                @row.name
                            </td>
                            <td>
                                @row.email
                            </td>
                            <td>
                                @row.comment
                            </td>
                            <td>
                                <form action="/Logic/admin.cshtml/@row.id" method="get">
                                    <input name="rcm_id" type="hidden" value="@row.id"/>
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value=" Habilitar "/>
					            </form>
                            </td>  
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br/><br/>
  </body>

