@{
    Layout = "~/_Layout.cshtml";
    Page.Num = 2;
}

@{
    int cont = 0;
    var db = Database.Open("Curriculum");
    var selectQueryString = "SELECT * FROM Datos";
    var selectQueryString2 = "SELECT * FROM Academicos";
    var selectQueryString3 = "SELECT * FROM Computacionales";
    if (Session["actual"] == null)
    {
        Response.Redirect("/Views/Login.cshtml");
    }
}


<body>
    <hr class="active">
    <div class="alert alert-danger">Por favor espere... Cargando datos.</div>
    <div class="alert alert-success" style="display: none;">Listo!!</div>
    <div class="author-meta box">
        <div class="panel author-header">
            <div class="pic">
                <img src="~/Images/me.jpg" style="width:100%; height:100%;"/>
            </div>
            <div class="name">
                <h2>José Andrés Obando Díaz
                </h2> 
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />
   
        <ul class="nav nav-pills nav-justified">
            <li data-slide-to="1" class="active"><a data-toggle="modal" data-target="">Descargar Curriculum</a></li>
        </ul>
        <ul class="nav nav-pills nav-justified">
            <li data-slide-to="2" class="active"><a href="~/Logic/PDF.cshtml" data-toggle="modal" data-target="">PDF</a></li>
            <li data-slide-to="2" class="active"><a href="~/Logic/Word.cshtml" data-toggle="modal" data-target="">Word</a></li>
        </ul>
        <hr />
    <div class="[ panel panel-default ] panel-google-plus">
        <div class="panel-heading">

            <span class="glyphicon glyphicon-user">&nbsp;</span> Datos Personales
        </div>
        <table class="table">
            <thead>
                <tr class="warning">
                    <th>Identificación:      
                    </th>
                    <th>1-1461-0267
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in db.Query(selectQueryString))
                {
                    <tr>
                        <td>Estado Civil:
                        </td>
                        <td>
                            @row.estadoCivil
                        </td>
                    </tr>
                    <tr class="success">
                        <td>Dirección:
                        </td>
                        <td>
                            @row.Direccion
                        </td>
                    </tr>
                    <tr>
                        <td>Teléfonos:
                        </td>
                        <td>
                            @row.Telefonos
                        </td>
                    </tr>
                    <tr class="success">
                        <td>Email:
                        </td>
                        <td>
                            @row.Email
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
    
    <div class="[ panel panel-default ] panel-google-plus">
        <div class="panel-heading">

            <span class="glyphicon glyphicon-book">&nbsp;</span> Estudios Academicos
        </div>
        <table class="table">
            <thead>
                <tr class="warning">
                    <th>Titulo      
                    </th>
                    <th>Instituto      
                    </th>
                    <th>Año      
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in db.Query(selectQueryString2))
                {
                    if (row.Finalizado == true)
                    {
                        if (cont == 0)
                        {
                    <tr>
                        <td>
                            @row.Titulo
                        </td>
                        <td>
                            @row.Instituto
                        </td>
                        <td>
                            @row.Anio
                        </td>
                    </tr>
                            cont = 1;
                        }
                        else
                        {
                            cont = 0;
                    <tr class="success">
                        <td>
                            @row.Titulo
                        </td>
                        <td>
                            @row.Instituto
                        </td>
                        <td>
                            @row.Anio
                        </td>
                    </tr>    
                        }
                    }
                    else
                    {
                    <tr class="info">
                        <td>
                            @row.Titulo (Cursando)
                        </td>
                        <td>
                            @row.Instituto
                        </td>
                        <td>
                            @row.Anio
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
      <div class="[ panel panel-default ] panel-google-plus">
        <div class="panel-heading">

            <span class="glyphicon glyphicon">
                <img src="~/Images/glyphicons_086_display.png"  width="17" height="15" />&nbsp;</span> Estudios Computacionales
        </div>
        <table class="table">
            <thead>
                <tr class="warning">
                    <th>Titulo      
                    </th>
                    <th>Instituto      
                    </th>
                    <th>Año      
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in db.Query(selectQueryString3))
                {
                    if (row.Finalizado == true)
                    {
                        if (cont == 0)
                        {
                    <tr>
                        <td>
                            @row.Titulo
                        </td>
                        <td>
                            @row.Instituto
                        </td>
                        <td>
                            @row.Anio
                        </td>
                    </tr>
                            cont = 1;
                        }
                        else
                        {
                            cont = 0;
                    <tr class="success">
                        <td>
                            @row.Titulo
                        </td>
                        <td>
                            @row.Instituto
                        </td>
                        <td>
                            @row.Anio
                        </td>
                    </tr>    
                        }
                    }
                    else
                    {
                    <tr class="info">
                        <td>
                            @row.Titulo (Cursando)
                        </td>
                        <td>
                            @row.Instituto
                        </td>
                        <td>
                            @row.Anio
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
